# Config for running the Docker container in CI / local development. Not used in production.
services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=insecure
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
  orbit:
    build: .
    environment:
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=insecure
      - DATABASE_HOST=db
      - DATABASE_NAME=postgres
      - DATABASE_DISABLE_SSL=insecure-yes
      - SECRET_KEY_BASE=/insecure/insecure/insecure/insecure/insecure/insecure/insecure/
    ports:
      - 4000
