<.flash_group flash={@flash} />
<.header>
  🪐
  <span class="text-[#ED8B00]">O</span><span class="text-[#DA291C]">r</span><span class="text-[#003DA5]">b</span>it
  <:subtitle>
    Hello World!
  </:subtitle>
</.header>
