<noscript>
  You must enable JavaScript to view this page.
</noscript>
<div id="app"></div>
Logged in as <%= assigns.logged_in_user.email %>
<div><a href={~p"/logout"}>Logout</a></div>
<script src={~p"/assets/app.js"}>
</script>
