<h1>admin/remove</h1>

<.form for={%{}} action={~p"/admin/remove"} method="post">
  <button class="rounded border border-solid border-black hover:bg-gray-200 p-1" type="submit">
    Remove data
  </button>
</.form>
