<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <% # Orbit metadata %>
    <%= if @conn.assigns[:logged_in_user] do %>
      <meta name="email" content={@logged_in_user.email} />
    <% end %>
    <meta name="release" content={@release} />

    <%= if @conn.assigns[:sentry_dsn] do %>
      <meta name="sentryDsn" content={@sentry_dsn} />
    <% end %>
    <%= if @conn.assigns[:environment] do %>
      <meta name="environment" content={@environment} />
    <% end %>
    <%= if @conn.assigns[:email] do %>
      <meta name="userEmail" content={@email} />
    <% end %>

    <title><%= assigns[:page_title] || "Orbit" %></title>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
