<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/favicon/t-logo-180.png" type="image/png" />
    <link rel="icon" href="/favicon/t-logo-32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/favicon/t-logo-16.ico" sizes="16x16" type="image/vnd.microsoft.icon" />

    <meta name="csrf-token" content={get_csrf_token()} />

    <% # Orbit metadata %>
    <%= if @conn.assigns[:logged_in_user] do %>
      <meta name="email" content={@logged_in_user.email} />
    <% end %>
    <meta name="release" content={@release} />

    <%= if @conn.assigns[:sentry_dsn] do %>
      <meta name="sentryDsn" content={@sentry_dsn} />
    <% end %>
    <%= if @conn.assigns[:environment] do %>
      <meta name="environment" content={@environment} />
    <% end %>
    <%= if @conn.assigns[:email] do %>
      <meta name="userEmail" content={@email} />
    <% end %>
    <%= if @conn.assigns[:name] do %>
      <meta name="userName" content={@name} />
    <% end %>
    <%= if @conn.assigns[:full_story_org_id] do %>
      <meta name="fullStoryOrgId" content={@full_story_org_id} />
    <% end %>
    <%= if @conn.assigns[:appcues_uid] do %>
      <meta name="appcuesUserId" content={@appcues_uid} />
    <% end %>

    <title><%= assigns[:page_title] || "Orbit" %></title>
    <link rel="stylesheet" href={~p"/assets/app.css"} />

    <%= if @conn.assigns[:appcues_enabled?] && @conn.assigns[:appcues_id] do %>
      <script src={"//fast.appcues.com/#{@appcues_id}.js"}>
      </script>
    <% end %>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
